iOS-Example/iOS-Example.xcodeproj/xcuserdata/*
R11-iOS-SDK.xcworkspace/xcuserdata/*
Rainboweleven/Rainboweleven.xcodeproj/xcuserdata/*
iOS-Example/iOS-Example.xcodeproj/project.xcworkspace/xcuserdata
